body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Logos */
.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio-header {
  color: #2e2f42;
}

.logo-studio {
  color: #f4f4fd;
}

/* Header Section */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .logo {
  display: block;
  margin-right: 76px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero Section */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Features Section */
.features {
  background-color: #ffffff;
  padding: 120px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  margin: 0;
}

/* Team Section */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  text-align: center;
}

/* Portfolio Section */
.portfolio {
  padding: 120px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  height: 120px;
  box-sizing: border-box;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Footer Section */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-info {
  margin-right: 120px;
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}