body {
  font-family: 'Roboto', sans-serif;
}

.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}